<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="https://kit.fontawesome.com/602e6d2296.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/custom.css">

    <title>
        <%=what%>
    </title>

</head>

<body class="vh-100">


    <%- include( '../customer/navbar');%>
        <main class="container mb-5">
            <%- include( '../partials/flash');%>

                <%- body -%>
        </main>

        <!-- <footer class="footer bg-primary py-3 mt-auto" style="width: 100%;height: 40px;bottom: 0;">
            <div class="container">
                <span class="text-center" style="color: aliceblue; ">&copy;Yaqeen-Halal-Food 2021</span>
            </div>
        </footer> -->

        <script src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap-form-validation.js"></script>
        <% if (what == "Sign Up") { %>
            <script src="/js/custom-user-register-form-validation.js"></script>
            <%}  %>
</body>

</html>