<% layout('layouts/customer-boilerplate')  -%>
    <div class="container">
        <div class="row row-cols-2 row-cols-md-4 g-8">
            <% for(product of products) {%>
                <div class="col mb-3">
                    <div class="card" style="cursor: pointer;">
                        <img src="https://source.unsplash.com/MvCde9kgov8" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/products/<%= product._id %>" style="text-decoration: none;">
                                    <%= product.name %>
                                </a> -
                                <%= product.price %> zl</p>
                            </h5>

                        </div>
                    </div>

                </div>
                <% } %>
        </div>
    </div>