<% layout('layouts/boilerplate')  -%>
    <div class="row">
        <div class="col-6 mb-5">
            <div class="card">
                <img src="https://source.unsplash.com/MvCde9kgov8" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= product.name %>
                    </h5>
                    <p class="card-text">
                        <%= product.description %>
                    </p>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= product.price %> zl
                    </li>
                    <li class="list-group-item">
                        <%= product.quantity %> stock
                    </li>
                </ul>

            </div>
        </div>

        <div class="col-6 mb-5">
            <div class="card">

                <div class="card-body">
                    <input type="number" name="" id="">

                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <button class="btn btn-primary btn-lg">Add to card</button>
                    </li>

                </ul>

            </div>
        </div>
    </div>