<% layout('layouts/boilerplate')  -%>

    <div class="row">
        <div class="col-4 mb-5">
            <div class="card">
                <img src="https://www.seekpng.com/png/detail/514-5147412_default-avatar-icon.png" alt="">
                <div class="card-body text-center">
                    <h5>John Doe</h5>
                </div>
                <div class="card-body">
                    <a href="/myaccount" class="btn btn-warning">Edit Account Data</a>
                    <a href="/myaccount" class="btn btn-danger">Edit Payment Data</a>
                </div>
            </div>
        </div>

        <div class="col-6 mb-5">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            First name: <span>John</span>
                        </li>
                        <li class="list-group-item">
                            Last name: <span>Doe</span>
                        </li>
                        <li class="list-group-item">
                            Address: <span>Mikolowska 17/3, 40-076, Katowice, Poland</span>
                        </li>
                        <li class="list-group-item">
                            Phone number: <span>+48 777 777 777</span>
                        </li>
                        <li class="list-group-item">
                            Email address: <span>john.doe@email.com</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>